*, *::before, *::after {
    box-sizing: border-box;
}

/* Variables */
$font-header: 'Signika Negative', sans-serif;
$font-text: 'Inconsolata', monospace;

$color-one: #ffffff;
$color-two: #000000;
$color-three: #f1c40f;
$color-four: #ecf0f1;

/* Main */
body {
    font-size: 18px;
    font-family: $font-text;
    margin: 0;
    line-height: 1.7;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1140px;

}
section {
    padding: 96px 0;
}

/* Navigation */
.navigation {
    padding: 20px 0;
    text-align: right;
    
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    position: relative;
    margin: 0 36 0 0;

}

.navigation a {
    text-decoration: none;
    color: #ffffff;
}

.navigation a:hover {
    color: #f1c40f;
}

/* Splash-inner */
.splash {
    background-image: url(https://cdn.pixabay.com/photo/2016/01/09/18/27/journey-1130732_1280.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 80vh;
}

.splash-inner {
    margin: 0 auto;
    max-width: 70%;
}

.page-title {
    font-size: 52px;
    word-spacing: -16px;
    font-weight: 100;
    font-family: $font-text;
    color: #ffffff;
    text-align: center;
    font-style: italic;
}

.page-subtitle {
    font-size: 82px;
    font-weight: 900;
    margin: 24px 0;
    font-family: $font-header;
    color: #ffffff;
    text-align: center;
}

/* Button */
.btn {
    min-width: 160px;
    max-width: 240px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-header;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: $color-three;
    color: $color-four;
    background-color: #f1c40f;
    display: flex;
    align-items: center;
    justify-content: center;
}
    /* Our service */
    .section-title {
        font-size: 48px;
        margin: 0 0 72px 0;
        font-family: $font-header;
        text-align: center;
    }
    .section-subtitle {
        font-family: $font-text;
        text-align: center;
        font-style: italic;
    }

    .boxes-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    .box {
        flex: 0 0 33.333%;
        position: relative;
        padding: 0 0 40px
    }
    .title-services {
        font-family: $font-header;
        margin: 0 0 12px 0;
    }
    .subtitle {
        font-family: $font-text;
    }
    .box i {
        background-color: $color-three;
        font-size: 30px;
        color: $color-one;
        width: 60px;
        height: 60px;
        border-radius: 60%;
        line-height: 60px;
        border-color: #f1c40f;
        border-width: 1px;
        
    }
    /* Portfolio */
    .boxes-portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box-offer {
        flex: 0 0 33.333333%;
        position: relative;
        min-height: 300px;
        margin: 0 0 96px 0;

    }
    .box-img {
     
    }
    .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .offer-description {
        display:block;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }
    .our-portfolio {
        background-color: #ecf0f1;
    }

    /* Footer */
    .footer {
        text-align: center;
        padding: 20px;
    }
    .footer ul li {
        font-size: 0;
        display: inline;
    }
    .footer i {
        background-color: #000000;
        font-size: 30px;
        color: #ffffff;
        width: 60px;
        height: 60px;
        border-radius: 60%;
        line-height: 60px;
        

     }
     .footer i:hover {
        transform: scale(1.2, 1.2);
        transition: 0.1s;
     }